#perpage {
    padding: 0;
}

img {
    height: 160px;
    width: 100%;
}

.datecs {
    display: inline-block;
    height: 14px;
    font-size: 13px;
    color: #808080;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.card {
    background-color: #f7f7f7 !important;
    border: none !important;
}

.ipad-controler {
    padding-bottom: 4px;
}

a {
    color: #08c !important;
}

.unstyled {
    padding: initial;
}

.fa, .fas {
    color: black;
}

.bg-dark {
    background-color: #fcfcfc !important;
}

.bg-dark {
    border-color: #fcfcfc !important;
}

.logcolor {
    color: black;
}

.form-control:focus {
    border-color: #0088cc !important;
    box-shadow: none !important;
}

.ht {
    height: 10% !important;
}

.MatchWordssection {
    margin-top: 20px;
    margin-bottom: 20px;
}

.searchbox {
    background: rgba(0,0,0,0.04);
    width: 100%;
    margin-bottom: 0 !important;
}

.searchbutton {
    float: right;
    color: blue;
    padding: 5px;
    margin-top: -25px;
}

#ddl_user {
    display: block !important;
}

.fromdate {
    padding: 0;
}

.todate {
    padding: 0;
}

.region {
    background-color: #660000 !important;
    color: #fff !important;
}

.loder {
    border: none;
    padding: 15px;
    background-color: #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    opacity: .5;
    color: #fff;
}

.card-header {
    height: 310px !important;
}

.documen {
    margin-top: 20px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #fff !important;
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.errorMsg {
    display: none;
    color: red;
}

.loderimg {
    width: 60%;
    height: 60%;
}

.iconpading {
    padding: 4px;
}

.iconNoPading {
    padding-left: 0;
}

.dominname {
    font-size: .9em;
}



/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}

    /* Style the buttons inside the tab */
    .tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: left;
        cursor: pointer;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current "tab button" class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 70%;
    border-left: none;
    height: 300px;
}

.mobileview {
    display: none;
}

.tabheight {
    height: 100px !important;
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* STYLES GO HERE */

    .iPad {
        height: 174px;
        width: 43%;
    }

    .pagingover {
        overflow: scroll;
    }

    input, input:active, input:focus, input:focus-within, input:hover, input:visited {
        font-size: 16px !important;
    }
    select, select:active, select:focus, select:focus-within, select:hover, select:visited {
        font-size: 16px !important;
    }
}



/* different techniques for iPad screening */
@media screen and (max-width: 992px) {

    .mobileview {
        display: block;
    }

    .leptopview {
        display: none;
    }

    .loderimg1 {
        width: 20%;
        height: 20%;
    }

    .pagingover {
        overflow: scroll;
    }

    input, input:active, input:focus, input:focus-within, input:hover, input:visited {
        font-size: 16px !important;
    }
    select, select:active, select:focus, select:focus-within, select:hover, select:visited {
        font-size: 16px !important;
    }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

    .mobileview {
        display: block;
        overflow: hidden;
    }

    .leptopview {
        display: none;
    }

    .loderimg1 {
        width: 20%;
        height: 20%;
    }

    .pagingover {
        overflow: scroll;
    }

    input, input:active, input:focus, input:focus-within, input:hover, input:visited {
        font-size: 16px !important;
    }
    select, select:active, select:focus, select:focus-within, select:hover, select:visited {
        font-size: 16px !important;
    }
}

@media screen and (min-device-width : 375px) and (max-device-width : 667px) {

    .mobileview {
        display: block;
        overflow: hidden;
    }

    .leptopview {
        display: none;
    }

    .loderimg1 {
        width: 20%;
        height: 20%;
    }

    .pagingover {
        overflow: scroll;
    }

    input, input:active, input:focus, input:focus-within, input:hover, input:visited {
        font-size: 16px !important;
    }
    select, select:active, select:focus, select:focus-within, select:hover, select:visited {
        font-size: 16px !important;
    }
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) { /* STYLES GO HERE */

    .mobileview {
        display: block;
        overflow: hidden;
    }

    .leptopview {
        display: none;
    }

    .loderimg1 {
        width: 20%;
        height: 20%;
    }

    .pagingover {
        overflow: scroll;
    }

    input, input:active, input:focus, input:focus-within, input:hover, input:visited {
        font-size: 16px !important;
    }
    select, select:active, select:focus, select:focus-within, select:hover, select:visited {
        font-size: 16px !important;
    }
}
/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"] {
        font-size: 16px;
    }
}
